/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="crypto"] {
  display: block;
  font-weight: bold;
  margin: .5em .2em;
}

cloudflare-app[app="crypto"] crypto-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: .5em;
}

/* Use custom elements to avoid style inheritance. */
cloudflare-app[app="crypto"] crypto-price {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 20px;
  text-align: center;
}

cloudflare-app[app="crypto"] crypto-credit {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 8px;
  text-align: center;
  padding-top: .5em;
}

cloudflare-app[app="crypto"] crypto-history {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 8px;
  text-align: center;
  padding-top: .5em;
}

cloudflare-app[app="crypto"] .coindesk-price {
  color: #F1C40F;
}
