/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="bitcoin-price-widget"] {
  display: block;
  font-weight: bold;
  margin: .5em .2em;
}

cloudflare-app[app="bitcoin-price-widget"] crypto-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: .5em;
}

cloudflare-app[app="bitcoin-price-widget"] canvas {
  max-width: 100vw;
}

cloudflare-app[app="bitcoin-price-widget"] crypto-price {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 20px;
  text-align: center;
}

cloudflare-app[app="bitcoin-price-widget"] crypto-provider {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 8px;
  text-align: center;
  padding-top: .5em;
}

cloudflare-app[app="bitcoin-price-widget"] crypto-history {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 8px;
  text-align: center;
  padding-top: .5em;
}
